Repository f1labs/dynamix-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: styles, core, modsign, formbuilder

.gitlab-ci.yml:

image: shr3jn/android-fastlane:jdk11

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task

stages:
  - code_quality
  - build_styles
  - build_core
  - build_modules

before_script:
  - export GRADLE_USER_HOME=/gradle
  - chmod +x ./gradlew

cache:
  key: ${CI_PROJECT_ID}
  paths:
    - .gradle

styles:
  stage: build_styles
  only:
    changes:
      - styles/**/*
  script:
    - ./gradlew :styles:assembleRelease

core:
  stage: build_core
  only:
    changes:
      - core/**/*
  script:
    - ./gradlew :core:assembleRelease

modsign:
  stage: build_modules
  only:
    changes:
      - modsign/**/*
  script:
    - ./gradlew :modsign:assembleRelease

formbuilder:
  stage: build_modules
  only:
    changes:
      - formbuilder/**/*
  script:
    - ./gradlew :formbuilder:assembleRelease

sonarcloud-check:
  stage: code_quality
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script: ./gradlew :core:sonarqube
  only:
    - merge_requests
    - master
    - develop

target 36 migration
  core/build.gradle
  core/src/main/java/com/dynamix/core/network/DynamixTokenInterceptor.kt
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
Due: styles, core, modsign, formbuilder

edege to edege managed
  core/src/main/java/com/dynamix/core/utils/DynamixCommonUtils.kt
  core/src/main/java/com/dynamix/core/view/base/DynamixActivity.kt
Due: core

lifecycle version bumped
  core/build.gradle
  core/src/main/java/com/dynamix/core/view/base/DynamixActivity.kt
  modsign/src/main/java/com/dynamix/modsign/core/components/DynamixFragment.kt
  versions.gradle
Due: core, modsign

lifecycle version bumped (#24)
  core/build.gradle
  core/src/main/java/com/dynamix/core/view/base/DynamixActivity.kt
  modsign/src/main/java/com/dynamix/modsign/core/components/DynamixFragment.kt
  versions.gradle
Due: core, modsign

Update semaphore.yml
  .semaphore/semaphore.yml
Due: none

trigger build
  core/build.gradle
  modsign/build.gradle
Due: core, modsign

update kotlin version
  build.gradle
  core/build.gradle
  modsign/build.gradle
Due: core, modsign

version bump
  core/build.gradle
  modsign/build.gradle
Due: core, modsign

change
  core/build.gradle
  modsign/build.gradle
Due: core, modsign

bump version
  core/build.gradle
  modsign/build.gradle
  versions.gradle
Due: core, modsign

chagne
  core/build.gradle
  modsign/build.gradle
Due: core, modsign
