Repository f1labs/dynamix-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: styles, core, modsign, formbuilder

.gitlab-ci.yml:

image: shr3jn/android-fastlane:jdk11

stages:
  - build_styles
  - build_core
  - build_modules

before_script:
  - export GRADLE_USER_HOME=/gradle
  - chmod +x ./gradlew

cache:
  key: ${CI_PROJECT_ID}
  paths:
    - .gradle

styles:
  stage: build_styles
  only:
    changes:
      - styles/**/*
  script:
    - ./gradlew :styles:assembleRelease

core:
  stage: build_core
  only:
    changes:
      - core/**/*
  script:
    - ./gradlew :core:assembleRelease

modsign:
  stage: build_modules
  only:
    changes:
      - modsign/**/*
  script:
    - ./gradlew :modsign:assembleRelease

formbuilder:
  stage: build_modules
  only:
    changes:
      - formbuilder/**/*
  script:
    - ./gradlew :formbuilder:assembleRelease

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update modsign/build.gradle, formbuilder/build.gradle, core/build.gradle, styles/build.gradle
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
Due: styles, core, modsign, formbuilder

Update .gitlab-ci.yml, build.gradle
  .gitlab-ci.yml
  build.gradle
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml, build.gradle, core/build.gradle
  .gitlab-ci.yml
  build.gradle
  core/build.gradle
Due: core

Update build.gradle
  build.gradle
Due: none

Update build.gradle, core/build.gradle
  build.gradle
  core/build.gradle
Due: core

Add .circleci/config.yml
  .circleci/config.yml
Due: none

checkout
  .circleci/build.yml
  .circleci/config.yml
Due: none

change base-revision to master
  .circleci/config.yml
Due: none

trigger build
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
Due: styles, core, modsign, formbuilder

fix yml
  .circleci/build.yml
Due: none

fix job name typo
  .circleci/build.yml
Due: none

fix job names
  .circleci/build.yml
Due: none

fix ci
  .circleci/build.yml
Due: none

WIP
  .circleci/build.yml
Due: none

wip
  .circleci/build.yml
Due: none

WIP
  .circleci/build.yml
  .circleci/config.yml
Due: none

WP
  .circleci/build.yml
Due: none

fix yml error on build_core step
  .circleci/build.yml
Due: none

adds nepali date picker
  formbuilder/build.gradle
  formbuilder/src/main/java/com/dynamix/formbuilder/fields/DynamixTextInputFieldView.kt
Due: formbuilder
