Repository f1labs/dynamix-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: styles, core, modsign, formbuilder

.gitlab-ci.yml:

image: shr3jn/android-fastlane:jdk11

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task

stages:
  - code_quality
  - build_styles
  - build_core
  - build_modules

before_script:
  - export GRADLE_USER_HOME=/gradle
  - chmod +x ./gradlew

cache:
  key: ${CI_PROJECT_ID}
  paths:
    - .gradle

styles:
  stage: build_styles
  only:
    changes:
      - styles/**/*
  script:
    - ./gradlew :styles:assembleRelease

core:
  stage: build_core
  only:
    changes:
      - core/**/*
  script:
    - ./gradlew :core:assembleRelease

modsign:
  stage: build_modules
  only:
    changes:
      - modsign/**/*
  script:
    - ./gradlew :modsign:assembleRelease

formbuilder:
  stage: build_modules
  only:
    changes:
      - formbuilder/**/*
  script:
    - ./gradlew :formbuilder:assembleRelease

sonarcloud-check:
  stage: code_quality
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script: ./gradlew :core:sonarqube
  only:
    - merge_requests
    - master
    - develop

Create android.yml
  .github/workflows/android.yml
Due: none

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Update android.yml
  .github/workflows/android.yml
Due: none

Update build.gradle
  build.gradle
Due: none

Update semaphore.yml
  .semaphore/semaphore.yml
Due: none

Add files via upload
  ci-builder.jar
Due: none

Update versions.gradle
  versions.gradle
Due: none

Delete ci-builder.jar
  ci-builder.jar
Due: none

Update build.gradle
  styles/build.gradle
Due: styles

WIP
  .circleci/build.yml
  .circleci/config.yml
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: styles, core, modsign, formbuilder

trigger build
  styles/build.gradle
Due: styles

remove ci builder
  ci-builder.jar
Due: none

Set up semaphore (#3)
  .circleci/build.yml
  .circleci/config.yml
  .semaphore/semaphore.yml
  build.gradle
  ci-builder.jar
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: styles, core, modsign, formbuilder

trigger build
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
Due: styles, core, modsign, formbuilder

WIP
  modsign/build.gradle
  modsign/src/main/java/com/dynamix/modsign/ModSignKeyConfigs.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProvider.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignVm.kt
  versions.gradle
Due: modsign

Finalize mod sign configs
  .circleci/build.yml
  .circleci/config.yml
  .semaphore/semaphore.yml
  build.gradle
  modsign/src/main/java/com/dynamix/modsign/ModSignKeyConfigs.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/TextViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  versions.gradle
Due: modsign

Manage code smell
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  versions.gradle
Due: modsign

Modsign configs (#4)
  modsign/build.gradle
  modsign/src/main/java/com/dynamix/modsign/ModSignKeyConfigs.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/TextViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProvider.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignVm.kt
  versions.gradle
Due: modsign
