Repository f1labs/dynamix-android: changes, and which Semaphore blocks are due for each by the changed paths.
All: Styles, Core, Modsign, FormBuilder

Styles:
  jobs:
  - name: Build Styles
    commands:
    - checkout
    - ./gradlew :styles:assembleRelease
  secrets:
  - name: package registry keys

Core:
  secrets:
  - name: package registry keys
  jobs:
  - name: Build Core
    commands:
    - checkout
    - ./gradlew :core:assembleRelease

Modsign:
  secrets:
  - name: package registry keys
  jobs:
  - name: Build Modsign
    commands:
    - checkout
    - ./gradlew :modsign:assembleRelease

FormBuilder:
  secrets:
  - name: package registry keys
  jobs:
  - name: Build Formbuilder
    commands:
    - checkout
    - ./gradlew :formbuilder:assembleRelease

Update build.gradle
  modsign/build.gradle
Due: Modsign

Update gradle.properties
  gradle.properties
Due: none

Remove gradle static paths
  gradle.properties
Due: none

Add cache flag to enable or disable cache
  modsign/src/main/java/com/dynamix/modsign/ModsignConfigurations.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  versions.gradle
Due: Modsign

Manage data url
  formbuilder/src/main/java/com/dynamix/formbuilder/dynamicform/DynamicFormDataApi.kt
  versions.gradle
Due: FormBuilder

Fixes variable mapping and style building
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  versions.gradle
Due: Modsign

print exception on layout inflater
  modsign/src/main/java/com/dynamix/modsign/core/inflater/DynamixLayoutInflater.kt
Due: Modsign

adds route code
  modsign/src/main/java/com/dynamix/modsign/core/inflater/PostInflateViewParser.kt
Due: Modsign

version bump
  versions.gradle
Due: none

Route code (#9)
  modsign/src/main/java/com/dynamix/modsign/core/inflater/DynamixLayoutInflater.kt
  modsign/src/main/java/com/dynamix/modsign/core/inflater/PostInflateViewParser.kt
  versions.gradle
Due: Modsign

Cache recucler data and manage to clear cache
  core/src/main/java/com/dynamix/core/cache/impl/PermanentCacheProviderImpl.kt
  core/src/main/java/com/dynamix/core/cache/impl/PermanentGroupCacheProviderImpl.kt
  modsign/src/main/java/com/dynamix/modsign/ModsignConfigurations.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/RecyclerViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProvider.kt
  modsign/src/main/java/com/dynamix/modsign/view/ModSignDataProviderImpl.kt
  versions.gradle
Due: Core, Modsign

Cache manage
  core/src/main/java/com/dynamix/core/network/ApiProviderImpl.kt
  versions.gradle
Due: Core

Fixes navigation multiple times when menu is of web view type
  core/src/main/java/com/dynamix/core/navigation/NavigationProviderImpl.kt
  versions.gradle
Due: Core

Adds condition on route
  core/src/main/java/com/dynamix/core/event/DynamixEvent.kt
  core/src/main/java/com/dynamix/core/event/RouteCondition.kt
  modsign/src/main/java/com/dynamix/modsign/core/inflater/PostInflateViewParser.kt
  versions.gradle
Due: Core, Modsign

Manage route url
  core/src/main/java/com/dynamix/core/navigation/NavigationProviderImpl.kt
  versions.gradle
Due: Core

Remove huawei deps
  build.gradle
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Manage dynamic layout for nepali locale
  core/build.gradle
  formbuilder/build.gradle
  modsign/src/main/java/com/dynamix/modsign/ModsignConfigurations.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/ButtonParser.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/TextViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
  styles/build.gradle
Due: Styles, Core, Modsign, FormBuilder

Manage dynamic layout for nepali locale
  modsign/src/main/java/com/dynamix/modsign/ModsignConfigurations.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/ButtonParser.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/TextViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
Due: Modsign

Trigger modules
  core/build.gradle
  formbuilder/build.gradle
  styles/build.gradle
Due: Styles, Core, FormBuilder

Docs updated
  modsign/src/main/java/com/dynamix/modsign/ModsignConfigurations.kt
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
Due: Modsign

Versions updated
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Localization init
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
Due: Modsign

Localization manage for dynamic layout
  core/build.gradle
  core/src/main/java/com/dynamix/core/locale/DynamixLocaleContextWrapper.kt
  formbuilder/build.gradle
  modsign/src/main/java/com/dynamix/modsign/core/inflater/PostInflateViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/ButtonParser.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/TextViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Localize bug fixes
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  modsign/src/main/java/com/dynamix/modsign/core/inflater/PostInflateViewParser.kt
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Has fixed size added in all cases
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/RecyclerViewParser.kt
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Trigger modules build
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

trigger build
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
Due: Styles, Core, Modsign, FormBuilder

Fixes web view image upload
  core/src/main/java/com/dynamix/core/navigation/NavigationConstants.kt
  core/src/main/java/com/dynamix/core/navigation/NavigationProviderImpl.kt
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Version bumps
  versions.gradle
Due: none

Android 33 migration
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

Trigger modules publish
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
Due: Styles, Core, Modsign, FormBuilder

App crash
  core/build.gradle
  core/src/main/java/com/dynamix/core/navigation/NavigationComponents.kt
  formbuilder/build.gradle
  formbuilder/src/main/java/com/dynamix/formbuilder/validations/DynamixFormBuilderValidationUtils.kt
  versions.gradle
Due: Core, FormBuilder

Fixes app crash
  core/build.gradle
  formbuilder/build.gradle
  modsign/build.gradle
  styles/build.gradle
  versions.gradle
Due: Styles, Core, Modsign, FormBuilder

recyclerview list items filter impl
  core/src/main/java/com/dynamix/core/utils/DynamixCommonUtils.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/RecyclerViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
Due: Core, Modsign

recyclerview list items filter impl (#22)
  core/src/main/java/com/dynamix/core/utils/DynamixCommonUtils.kt
  modsign/src/main/java/com/dynamix/modsign/core/parser/engine/RecyclerViewParser.kt
  modsign/src/main/java/com/dynamix/modsign/model/RootView.kt
Due: Core, Modsign

Update semaphore.yml
  .semaphore/semaphore.yml
Due: none

trigger build
  core/build.gradle
  modsign/build.gradle
Due: Core, Modsign

version bump
  core/build.gradle
  modsign/build.gradle
  versions.gradle
Due: Core, Modsign

lifecycle version bumped
  core/build.gradle
  core/src/main/java/com/dynamix/core/view/base/DynamixActivity.kt
  modsign/src/main/java/com/dynamix/modsign/core/components/DynamixFragment.kt
  versions.gradle
Due: Core, Modsign

Path conditions:
  Styles: any of: styles
  Core: any of: core
  Modsign: any of: modsign
  FormBuilder: any of: formbuilder
